@import url("components/navbar.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	margin: 0;
	padding: 60px 0 0 0;
}

/*move to banner.css later*/


.placeholder {
	margin: 0 10vw;
	font-size: 40px;
	font-weight: lighter;
	color: #E6E6E6;
}

footer {
	font-family: monospace;
	font-size: 20px;
	display: flex;
	justify-content: center;
}

footer li {
	list-style: none;
	display: inline-block;
}
