@import url("components/navbar.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Verdana', sans-serif;
}

a:hover, a:visited, a:link, a:active {
	text-decoration: none !important;
}


/* footer */
footer {
	font-family: monospace;
	font-size: 20px;
	display: flex;
	justify-content: center;
}

footer li {
	color: black;
	list-style: none;
	display: inline-block;
}

.targetDiv {
	height: 50px;
}

